<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">

<title>Mandrill check</title>

</head>
<body>
<form action="/send" method="post" accept-charset="utf-8"  enctype="multipart/form-data">
<input type="text" name="EMAIL" value="" placeholder="Email" />
<input type="text" name="FNAME" value="" placeholder="First Name" />
<input type="text" name="LNAME" value="" placeholder="Last Name" />
<input type="file" name="CV" value="" accept=".pdf">
<p><input type="submit" value="Continue &rarr;"></p>
</form>
</body>
</html>


