<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">

<title>Madrill check</title>

</head>
<body>
<form action="/send" method="get" accept-charset="utf-8">
<input type="text" name="email" value="" placeholder="Email" />
<input type="password" name="pass" value="" placeholder="Password" />
<input type="file" name="cv" value="" accept=".pdf">
<p><input type="submit" value="Continue &rarr;"></p>
</form>
</body>
</html>


