*
{
color:red;
}
*
{
visibility:visible!important;

}
.applypopup,.apply
{
visibility:hidden!important;
}
.applypopcontent
{
position:relative!important;

width:90%!important;
left:5%!important;
height:10%!important;
}
#batterypack,#fte,#vd
{

margin-left:15px;
margin-right:11px;
position:relative;

color:#FFFFFF;
font-size:1.3em;

}
